body {counter-reset: h2}
h2 {counter-reset: h3}
h3 {counter-reset: h4}
h4 {counter-reset: h5}
h5 {counter-reset: h6}

h2:before {counter-increment: h2; content: counter(h2) ". "}
h3:before {counter-increment: h3; content: counter(h2) "." counter(h3) ". "}
h4:before {counter-increment: h4; content: counter(h2) "." counter(h3) "." counter(h4) ". "}
h5:before {counter-increment: h5; content: counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) ". "}
h6:before {counter-increment: h6; content: counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) "." counter(h6) ". "}

h2.nocount:before, h3.nocount:before, h4.nocount:before, h5.nocount:before, h6.nocount:before, 
#toc h2:before, .notes h1:before, .notes h2:before, .notes h3:before, .notes h4:before, .notes h5:before, .notes h6:before
{ content: ""; counter-increment: none } 

#appendices h2:before {counter-increment: h2; content: counter(h2, upper-alpha) ". "}

/* Previous section heading CSS CC-BY by Phil Archer: http://philarcher.org/diary/2013/headingnumbers/ */

body {
  font-family: sans-serif;
}
h1 {
  text-align: center; font-size: 3.2em; font-weight: normal; font-family: serif;
}
h4, h5 {
  font-family: serif;
  font-size: 1.2em; font-style: italic;
}
h5 { font-weight: normal; }
article {
  width: 60%; margin-left: auto; margin-right: auto;
  overflow: visible;
}
aside.do#toc {
  background-color: #d7e7d7; 
  height: 100%; max-height: 100%; max-width: 15%; 
  box-shadow: none; border-right: 1px solid #ccc; border-bottom: none; border-radius: 0;
}
#table-of-stuff { display: none; }
#toc h2 {
  font-size: 1.4em;
  color: black; font-weight: bold;
}

.notes {
  color: #aaa; border: 1px solid silver;
}
.chapter { display: none; }
p.notes { padding: 0.4em; }
em.notes { padding: 0.4em; }

q { quotes: '"' '"' "'" "'" }
q:before { content: open-quote }
q:after  { content: close-quote }

ul li ul, ul li ul li ul {
  margin-top: 0;
}
ul li p {
  margin-bottom: 0;
}
code { font-size: 0.8em; color: #2d2d2d; }
table {
  max-width: 100%!important;
  border-collapse: collapse; border-spacing: 0;
}
td, td p, td li {
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1em;
}
td, th {
  border: 1px solid transparent; 
  padding: 0.4em;
}
tbody th, thead th {
  background: #DFDFDF;
  font-weight: bold;
}
tbody td {
  background: #FAFAFA;
  text-align: center;
}
tbody tr td:first-of-type {
  font-weight: bold;
  text-align: left;
}
table.leftie tbody td, table.leftie tbody th {
  text-align: left;
}
tbody tr:nth-child(even) td { background: #F1F1F1; }
tbody tr:nth-child(odd) td { background: #FEFEFE; }
thead, tfoot, thead td, tfoot td {
  font-family: Helvetica, Arial, sans-serif;
  text-align: left;
  vertical-align: top;
}
thead {
  border-top: 2px solid #F1F1F1;
}
tfoot, figure {
  border-bottom: 2px solid #F1F1F1;
  border-top: 2px solid #F1F1F1;
}
figcaption p {
  padding: 0; margin: 0;
}
table figure { border: none; }
button {
  background: #F1F1F1;
  border: 2px solid #F1F1F1;
  padding: 0.4em; font-size: 0.6em;
}
sup a {
  text-decoration: none;
}
.fn {
  font-size: 0.9em;
  padding: 0; margin: 0;
}


@media print {

  .do {
    display:none !important;
    }
    span.do.ref {
    display:inline !important;
    }
    span.do.ref sup {
    display:none;
    }
    .tabs nav {
    display:none !important;
    }
    .tabs .selected {
    border:0 !important;
    padding:0 !important;
    }

  #toc {
    display: none;
  }
  article {
    width: 90%;
  }
  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 1.2em;
    page-break-before: always;
  }
  h3 { font-size: 1em; }
  h4 { font-size: 0.8em; font-style: italic; font-weight: normal; }
  h1, h2, h3, h4 {
    page-break-after: avoid!important;
    /*orphans: 3;
    widows: 3;*/
  }
  pre, blockquote, ul, ol, img, figure, table {
    page-break-inside: avoid;
  }
  article p, article li {
    font-size: 14px;
  }
  article a {
    text-decoration: underline;
   }

   article a[href]:after {
     content:" <" attr(href) "> ";
   }
  .notes {
    display: none;
  }
  article p.chapter {
    display: block;
    text-align: center;
    font-size: 8em;
    color: silver;
    font-weight: bold;
    font-style: italic;
    margin: 0px; padding: 0px;
  }

  tbody {
    font-size: 0.6em;
  }
  tbody tr:nth-child(even) td { background: #F1F1F1 !important; -webkit-print-color-adjust: exact; -moz-print-color-adjust: exact;  }
  tbody td, tbody th {
    border: 1px solid silver;
  }
  thead, tfoot {
    border-bottom: 1px solid silver;
    font-size: 0.8em;
  }
}